/*  
    #8EE4AF
    #EDF5E1
    #5CDB95
    #907163
    #379683
*/

#profile-picture {
    width: 17.5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vh;
}

#sticky-sidebar {
    padding-top: 2vh;
    width: 25vw;
    background-color: #907163;
}

#main {
    margin-left: 3vw;
}

#content {
    margin-left: 0;
}

#main > h2 {
    padding-top: 15px;
}

.single-section {
    padding-top: 2.5vh;
}


.gallery {
    display: flex;
}

.gallery > img {
    padding: 5vh 0 2vh 0;
    margin: auto;
}

#krasna-polyana {
    width: 60%;
    height: 100%;
}

#tues-logo {
    width: 50%;
    margin-left: -58px;
}

#tues-vhod {
    width: 65%;
}